{% extends "myweb/base.html" %}
{% block title %}ติดต่อ{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow border-0">
      <div class="card-body">
        <h2 class="mb-3">ช่องทางติดต่อ</h2>
        <ul class="list-group list-group-flush mb-3">
          <li class="list-group-item"><i class="bi bi-envelope"></i> thxrmor2@gmail.com</li>
          <li class="list-group-item"><i class="bi bi-facebook"></i> <a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
          <li class="list-group-item"><i class="bi bi-instagram"></i> <a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
        </ul>
        <a href="{% url 'home' %}" class="btn btn-secondary">กลับหน้าหลัก</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
